@import url(https://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
	background-color: #f9f9f9;
	text-align: center;
	font-size: 14px;
}

.helloworld {
	font-family: Raleway Dots; 
	font-size: 28px;
	font-weight: bold;
	padding-top: 15px; 
	padding-bottom: 30px; 
	letter-spacing: 2px;
	visibility: visible; 
	max-height: 105px;
}

@media (max-width: 768px){
	.helloworld {
		visibility: hidden;
	}
}

.trail {
	font-size: 18px;
}

.hellophone {
	font-family: Raleway Dots; 
	font-size: 26px;
	font-weight: bold;
	padding-top: 30px; 
	padding-bottom: 15px; 
	letter-spacing: 2px;
	visibility: hidden; 
	top: 0px;
	position: fixed;
	text-align: center;
	background-color: white;
	z-index: 1;
	width: 100%;
	margin: auto;
}

@media (max-width: 768px){
	.hellophone {
		visibility: visible;
	}
}

.phone_trail {
	font-size: 16px;
}

.container_row {
	position: relative;
}

@media (max-width: 768px){
	.who {
		padding-top: 35px;
	}
}

.header {
	font-family: Raleway Dots;  
	font-size: 24px; 
	font-weight: bold;
}

.hello {
	font-weight: bold;
	font-size: 28px;
	font-family: Raleway Dots;
}

.intro {
	text-align: justify;
	font-size: 13px;
}

.cards {
	padding-left: 0px;
	padding-right: 0px;
}

a:hover {
	color: #f65f5f;
	text-decoration: none;
}

.base_layer {
	display: block;
}

.hover_box {
	display: none;
	height: 362px;
	width: 362px;
	background-color: white;
	margin: auto;
}

.text_divs {
	padding-bottom: 40px;
}

.par {
	font-family: Raleway:500; 
}

.pic {
	width: 362px; 
	height: 362px;
	border-color: white; 
	border-style: solid; 
	border-width: 5px; 
}

.resume {
	color: #00827F;
	font-size: 16px;
}

.projects {
	padding-left: 10px;
	padding-right: 0px;
}
