@import url(https://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
	background-color: #f9f9f9;
	text-align: center;
	font-size: 14px;
	font-family: Raleway:500;
}

a:hover {
	color: #f65f5f;
	text-decoration: none;
}

.hellodesktop {
	visibility: visible;
	font-family: Raleway Dots; 
	font-size: 28px;
	font-weight: bold;
	padding-top: 15px; 
	padding-bottom: 30px; 
	letter-spacing: 2px; 
	max-height: 105px;
}

.hellophone {
	visibility: hidden; 
	font-family: Raleway Dots; 
	font-size: 26px;
	font-weight: bold;
	padding-top: 30px; 
	padding-bottom: 15px; 
	letter-spacing: 2px;
	top: 0px;
	position: fixed;
	text-align: center;
	background-color: white;
	z-index: 1;
	width: 100%;
	margin: auto;
}

.traildesktop {
	font-size: 18px;
}

.trailphone {
	font-size: 16px;
}

@media (max-width: 768px){
	.hellowdesktop {
		visibility: hidden;
	}
	.hellophone {
		visibility: visible;
	}
	.trailphone {
		font-size: 12px;
	}
	.intro {
		padding-top: 35px; 
	}
}

.container_row {
	position: relative;
}

.base_layer {
	display: block;
	margin: auto;
	padding-top: 20px;
}

.hover_box {
	display: none;
	margin: auto;
	height: 362px;
	width: 362px; 
	position: absolute;
	padding-top: 20px;
}

.cards {
	margin: auto;
	max-width: 362px;
	max-height: 362px;
	padding-left: 0px;
	padding-right: 0px;
}

.no-flip-card {
/*	padding-top: 20px;*/
	margin-top: 20px;
}

.yourself-card {
	padding-top: 20px !important;
}

.project-card {
	padding-top: 0px !important;
}
.white-cards {
	background-color: #fff;
	margin-top: 20px;
}

.pic {
	width: 100%; 
	height: auto;
	border-color: white; 
	border-style: solid; 
	border-width: 5px; 
}

.headings {
	font-family: Raleway Dots;  
	font-size: 24px; 
	font-weight: bold;
}

.hello {
	font-weight: bold;
	font-size: 28px;
	font-family: Raleway Dots;
	padding-top: 20px;
}

.intro {
	text-align: justify;
	font-size: 13px;
	padding-left: 25px; 
	padding-right: 10px;
}

/*shrinks text with screen size*/

@media (max-width: 1349px) {
  .intro {font-size: 12px;}
}

@media (max-width: 1270px) {
  .intro {font-size: 11px;}
}

@media (max-width: 1160px) {
  .intro {font-size: 10px;}
}

@media (max-width: 1100px) {
  .intro {font-size: 9px;}
}

@media (max-width: 991px) {
	.intro {
		font-size: 14px;
		padding-left: 10px;
		padding-right: 10px;
		}
}

.resume {
	color: #00827F;
	font-size: 16px;
}

.projects {
	padding-left: 10px;
	padding-right: 0px;
}
